body{
	font-family:'Arial', 'Helvetica', sans-serif;
	font-size:16px;
	
}

.col-bg, .col-bg-top{
	background-color:#fff;
	padding:20px;
}

.col-bg{
	margin:10px;
}

.col-bg-top{
	padding-right:35px;
}

.bg-container{
	background-color:#F5F5F5;
	padding:30px;
	min-height:400px;
}

.container-min{
	min-height:400px;
}

.navbar{
	margin-bottom:0px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color:#F5F5F5;
}

.navbar{
	background-color: #fff;
}

#logo{
	height:35px;
	padding-top:15px;
	margin-right:40px;
	margin-top:10px;
}

.navbar-nav>li>a{
	padding-top:25px;
	padding-bottom:25px;
}

.btn-success {
    text-align: right;
    background-color: #F19B1F !important;
    border-color: #F19B1F !important;
    border-radius: 0px;
    margin-top:15px;
    }

.row{
	margin-bottom:15px;
}

h3{
	margin-top:10px;
}



.clear{
	clear:both;
}


.bg-white{
	background-color: #fff;
}

.row-top{
	margin-bottom:10px;
}

.left{
	float:left;
}

.right{
	float:right;
}

a{
	color:#F19B1F;
}

.col-bg-top{
margin:10px;
}

.half-top, .half-bottom{
background-color:#f8f8f8;
margin-bottom:5px;
padding:10px;
}

@media (min-width:768px){
.half-left{
	width:49%;
	float:left;
}

.half-right{
	width:48%;
	float:right;
}
}

@media (max-width:768px){
	#logo{
		margin-bottom:15px;
		margin-left:15px;
	}
}

.half-right{
	font-size:14px;
}